ot-harjoitustyo.code-workspace
/laskarit/viikko2/unicafe/.pytest_cache
/laskarit/viikko2/unicafe/src/__pycache__/
/laskarit/viikko2/unicafe/src/tests/__pycache__/
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov
/laskarit/viikko2/maksukortti/.pytest_cache
/laskarit/viikko2/maksukortti/src/__pycache__/
/laskarit/viikko2/maksukortti/src/tests/__pycache__/
/laskarit/viikko2/maksukortti/.coverage
/laskarit/viikko2/maksukortti/htmlcov
.pytest_cache
src/__pycache__/
src/tests/__pycache__/
src/tools/__pycache__/
src/io/__pycache__/
.coverage
.coveragerc
htmlcov